/* ポインターカーソル */
.pointer {
  cursor: pointer;
}

/* バリデーションのメッセージ */
.alert {
  color: red;
  font-size: 0.8rem;
  opacity: 0.8;
}

/* ヘッダーの色 */
.headerColor {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(85, 85, 85, 1));
}

/* ボタンの色 */
.github {
  background: #24292f !important;
}

.google {
  background: #fff !important;
  color: #24292f !important;
}

/* ポジションの絶対配置 */
.parent {
  position: relative;
}

.childBottomRight {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.childTopRight {
  position: absolute;
  top: 20px;
  right: 20px;
}
