.pointer {
  cursor: pointer;
}

.lowercase {
  text-transform: none;
}

.alert {
  color: red;
  font-size: 0.8rem;
}

.center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%)
             translateY(-50%);
}
